* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "comfortaa", sans-serif;
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
    font-size: 1.5rem;
    
    

}
a{
    text-decoration: none;
}
ul,
ol{
    list-style: none;
}

.header{
    color:rgb(255, 255, 255);
    font-family: "comfortaa", sans-serif;
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.presentacion{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*position - posicion de un elemento
    static, relative, absolute, sticky, fixed

    top, right, left, bottom*/
    

    position: relative;
    left: 60-xpx;

    
}
.nav-link{
    color: #0d37f6;
}
.navbar-brand{
    color: #0d37f6;
}
.nav-link :hover{
    color: #f9f9f9;
}
h1{   
 

    
    

    height: 150px;
    width: 100%;

    background-color: rgb(46, 46, 94) ;
    background-image: url(../img/pexels-blue-ox-studio-982230.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
p{
    /*alineado de texto
    left, right, center, justify
    */
    text-align: center;
    font-size: medium;
    /*tamaño tipografico*/ 
    font-size: 1.5rem;
    /*peso tipografico*/
    font-weight: bolder;
    padding: 3px;
    margin: 3px;


}
    
th{
    font-family: "comfrontaa", sans-serif;
    font-family: "comfortaa", sans-serif;
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    /*Repeticion de la imagen
    no- repeat
    repeat
    repeat-x
    repeat-y
    space - repite la imagen y rellena
    round
    */
    background-repeat: repeat;



}



article h2{
    font-family: "comfortaa";
    font-weight: bold;
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
    color: black;


}
article h3{
    font-family: "comfortaa", sans-serif;
    
   font-weight: bolder
   

    
    

    

    
}


h2{
    font-family: "comfortaa";
    src: url(../fonts/Comfortaa.zip)
    
    
    
    
}


p{
    font-family: "comfortaa", sans-serif;
    src: url(../fonts/Comfortaa.zip);
     /*alineado de texto
    left, right, center, justify
    */
    text-align: left;
    font-size: center;
}




form{
    font-family: "comfortaa", sans-serif;
    src: url(../fonts/Comfortaa.zip);
    font-size: 20px;
    
}
.video-tres{
    height: 100%;
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
form{
    /*alineado de texto
    left, right, center, justify
    */
    text-align: left;
    font-size: center;

}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    display: none;
  }
  
footer a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #333;
    transition: border-bottom 0.2s ease-in-out;
  }
  
footer a:hover {
    border-bottom: 1px solid #333;
  }
  
  /* Mostrar el footer cuando el usuario haya bajado 400px */
  @media (min-height: 400px) {
    footer {
      display: block;
    }
  }

 
.headline-multimedia{
    
    display: flex;
    flex-direction: row;
    align-items: right;
    
    

    width: 100%;
}


.caja-contacto{
    /*position - posicion de un elemento
    static, relative, absolute, sticky, fixed

    top, right, left, bottom*/
    position: relative;
    

}
.numero{
    /*position - posicion de un elemento
    static, relative, absolute, sticky, fixed

    top, right, left, bottom*/
    position: fixed;
    left: 60px;
    bottom: 70px;
    background-color: #ffffff;
    

}
/*"----cards article"*/
.card-icon{
    min-width: 40px;
    height: 40px;
    background-color: #8dabdf;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 2px;
}
.card-icon{
    font-size: 1.5rem;
    color: white;
   
}
.card-text{
    font-size: 1.5rem;
    padding: 0.5 rem;
}
.icon-card{
    display: flex;
    
}

.button{
    background-color: #4145ae; 
    
    border: none; /* Sin borde */
    color: white; /* Color de texto */
   padding: 10px 20px; /* Espacio alrededor del texto */
   
  
    display: block; 
   font-size: 20px; 
   margin: 8px 2px; /* Espacio entre botones */
   cursor: pointer; /* Cursor al pasar el mouse */
   border-radius: 5px; /* Radio de borde */
}



.video-informativo{
    display: flex;
    align-items: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 2px;
    padding: 2px;
}

.bg-azul{
    background-color: #a4c3f0;
}


  



