<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Jost:ital,wght@1,200&display=swap" rel="stylesheet">
    <title>Los secretos del oceano</title>
    <meta name="description" content="Los misterios y curiosidades sobre lo profundo del oceano">
</head>
<body>
  <header class="header">
    <h1>Los secretos del Océano.
        
    </h1>
 
   <div>
    <nav class="navbar navbar-expand-lg bg-azul justify-content-end">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="../index.html">Casa</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./Fotografia y video.html">Fotografía y video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./donar.html">Ayúdanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Noticias.html">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contacto.html">Contacto</a>

            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    
     
   </div>
  </header>
 
  <main>
     <section> 

      <h2>Noticias </h2>
      <div class="row">
        <article class="col-12 col-md-6 col-xl-6">
         <h3> Una colección de extrañas criaturas marinas en el Océano Índico

         </h3>
         <p>Viven en las profundidades del océano, cerca de una antigua montaña volcánica submarina, que se encuentra debajo de idílicas islas tropicales.
         Espectaculares y misteriosas criaturas oceánicas, como peces que caminan sobre zancos o una nueva especie de anguila que vive a 5 kilómetros de profundidad, fueron encontradas cerca de volcanes de aguas profundas, en el marco de una nueva expedición para mapear las remotas Islas Cocos, un territorio externo de Australia ubicado en Asia.
         Científicos del Instituto de Investigación de los Museos Victoria, en Australia, han cartografiado en detalle por primera vez el lecho marino de las Islas Cocos, un territorio australiano externo localizado en el Océano Índico. La expedición ha logrado revelar enormes montañas submarinas antiguas, flanqueadas por conos volcánicos, crestas enredadas y cañones formados por avalanchas de arena, que se han desplomado hacia el fondo de la región abisal del océano. Además, identificaron una completa y extensa colección de extrañas criaturas marinas que viven en esa zona.

          </p>
        </article>

        <article class="col-12 col-md-6 col-xl-6">
          <h3 >Un increíble mundo submarino
         </h3>
         <p>Mediante un buque de investigación operado por CSIRO, la agencia científica nacional de Australia, estudiaron la vida en aguas profundas en esa parte del Océano Índico, revelando especies y variedades previamente desconocidas. Las Islas Cocos son un archipiélago al suroeste de la isla de Sumatra: actualmente, conforman el centro del Parque Marino de las Islas Cocos, un área protegida de 467.054 kilómetros cuadrados de superficie.

         También conocidas como Islas Keeling, en honor al capitán de barco británico que las descubrió en 1609, son un par de atolones formados por 27 islas de coral. En realidad, estas islas son los picos de enormes montañas submarinas, de acuerdo a una publicación en el blog de CSIRO. Por ejemplo, el monte submarino Muirfield, identificado en 1973, tiene 70 kilómetros de ancho y una altura de 4 kilómetros y medio. 
        
         Según una nota de prensa, los investigadores liderados por el científico Tim O'Hara hallaron curiosas especies y variedades de peces y otras criaturas, flotando sobre las cumbres de los montes submarinos: recolectaron muestras a una profundidad de hasta 5 kilómetros bajo la superficie. Vale recordar que estas especies pertenecen a la sorprendente fauna abisal, que se ubica entre los 4.000 y los 6.000 metros de profundidad. </p>
        </article>

        <article class="col-12 col-md-12 col-xl-12 ">
         <h3">Misteriosas formas de vida acuática

         </h3>
         <p>Entre las formas de vida identificadas resalta una anguila previamente desconocida, recolectada a 5 kilómetros de profundidad y cubierta de piel gelatinosa y transparente. Sus ojos están poco desarrollados y, de forma inusual para un pez, las hembras dan a luz crías vivas. También hallaron peces murciélago de aguas profundas, que deambulan por el lecho marino con sus aletas en forma de brazo. 

         Otra especie llamativa es el pez araña tributo (Bathypterois guentheri), que posee aletas inferiores increíblemente largas que utiliza como zancos, a través de los cuales puede levantarse del fondo del océano, obteniendo la altura perfecta para alimentarse de las pequeñas gambas que flotan en la corriente. Además, registraron a una extraña anguila pelícano, que posee una diminuta cabeza en la parte delantera de sus enormes mandíbulas y un estómago expansible, con el cual logra engullir y tragar alimentos de grandes dimensiones. </p>
       </article>
      </div>



     </section>
     <div >
      <p>Video informativo</p>
     <iframe class="video-informativo" width="700" height="400" src="https://www.youtube.com/embed/damcHGYT0B0" title="YouTube video player" frameborder="50" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

     </div>  
     
   
    </main>

 <footer>
  <a href="#top">Volver arriba</a>
 </footer>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>