footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color-secundario;
  border-top: 1px solid $color-secundario;
  padding: 10px;
  text-align: center;
  display: none;

  &_ a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #333;
    transition: border-bottom 0.2s ease-in-out;

  }
}